In [4]:
import sys
import os

sys.path.append('../')
from run_model import *

In [12]:
outcome = 'lri'
run_label = '10_17_no_deriv_prior'
spec_label = 'no_prior'

In [13]:
model_dir = f'FILEPATH'

In [14]:
with open(os.path.join(model_dir, f'{outcome}_{spec_label}/{outcome}_mr_obj.pkl'), 'rb') as fopen:
    mr = pickle.load(fopen)

mr.mr_list[0].prior_list

[{'prior_type': 'x_cov_uprior',
  'x_cov_id': 0,
  'prior': array([[  1., -inf, -inf, -inf, -inf],
         [  1.,  inf,  inf,  inf,  inf]])},
 {'prior_type': 'spline_shape_function_uprior',
  'x_cov_id': 0,
  'interval': [0.0, 553.0],
  'indicator': [0.01, 30.0],
  'num_points': 100},
 {'prior_type': 'z_cov_uprior', 'z_cov_id': 0, 'prior': array([[1.e-07],
         [1.e+00]])}]

In [8]:
df = pd.read_csv(os.path.join(model_dir, f'{outcome}_{spec_label}/{outcome}_y_samples_fe.csv'))
df.head()

,exposure_spline,draw_0,draw_1,draw_2,draw_3,draw_4,draw_5,draw_6,draw_7,draw_8,...,draw_990,draw_991,draw_992,draw_993,draw_994,draw_995,draw_996,draw_997,draw_998,draw_999
0,0.00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,0.01,1.000220,1.000383,1.000253,1.000413,1.000321,1.000401,1.000217,1.000335,1.000323,...,1.000176,1.000158,1.000149,1.000281,1.000170,1.000206,1.000219,1.000196,1.000244,1.000205
2,0.02,1.000441,1.000766,1.000505,1.000825,1.000641,1.000801,1.000434,1.000670,1.000646,...,1.000352,1.000316,1.000298,1.000562,1.000341,1.000412,1.000438,1.000391,1.000487,1.000411
3,0.03,1.000661,1.001149,1.000758,1.001238,1.000962,1.001202,1.000652,1.001004,1.000968,...,1.000528,1.000475,1.000447,1.000843,1.000511,1.000617,1.000656,1.000587,1.000731,1.000616
4,0.04,1.000881,1.001532,1.001010,1.001650,1.001282,1.001603,1.000869,1.001339,1.001291,...,1.000703,1.000633,1.000595,1.001124,1.000681,1.000823,1.000875,1.000782,1.000974,1.000821